<link rel="stylesheet" href="/static/css/registro.css">
<form class ="form" action="/form" method="post">
    <div class="form__bloque">
        <label for="">Nombre: </label>
        <input type="text" name="nombre" required>
    </div>
    <div class="form__bloque">
        <label for="">Edad: </label>
        <input type="text" name="edad" required>
    </div>
    <div class="form__bloque">
        <label for="">Telefono: </label>
        <input type="text" name="telefono" required>
    </div>
    <div class="form__bloque">
        <label for="">Email: </label>
        <input type="text" name="email" required>
    </div>
    <div class="form__bloque">
        <button type="submit">Registo</button>
    </div>
</form>